 
  .calculator {
    border: 5px solid grey;
    background-color: rgb(68, 66, 66);
    border-radius: 7px;
    position: absolute;
    left: 10%;
    top: 10px;
    width: 450px;
    
  }
  
  .calculator-screen {
    width: 93%;
    font-size: xx-large;
    height: 70px;
    border: none;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;

  }

  .number{
      background-color: rgba(37, 35, 35, 0.87);
      color: white;
      font-size: large;
  }

  .operator {
    color: black;
    background-color: rgba(37, 35, 35, 0.87);
    color: white;
    font-size: large;

  }
  
  .clear {
    background-color: rgb(139, 58, 34);
    color: #fff;
    font-size: large;
  }
  .decimal{
    background-color: rgba(37, 35, 35, 0.87);
    color: white;
    font-size: large;
  }
  
  .equal {
    background-color: rgba(196, 155, 94, 0.89);
    color: #fff;
    height: 133%;
    grid-area: 2 / 4 / 5 ;
    font-size: x-large;
    
  }
  
  .calculator-keys {
   height: 450px; 
  display: grid;
  padding: 20px;
  font-size: xx-large ;

  }